<div id="footer">
	<div class="container">
		<ul>
			<li><a href="/contact" class="head-li">Home</a></li>
			<li><a href="#about" class="head-li">About</a></li>
			<li><a href="/locations" class="head-li">Locations</a></li>
			<li><a href="/contact" class="head-li">Contact</a></li>
		</ul>
		<img src="images/cb.png" alt="codeberry" id="codeberry">
	</div>
	<h6>Copyright &copy; 2019 | Gentlemen's Barber London | <a href="https://www.codeberry.ca">Codeberry</a></h6>
</div>