<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gentlemen's Barber London</title>
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<link rel="stylesheet" href="css/fontello.css">
	<link href="https://fonts.googleapis.com/css?family=Cinzel:700|PT+Sans:400,700" rel="stylesheet">
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<!-- <nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-head">
				<h6 id="logo">Gentlemen's Barber</h6>
			</div>
			<ul class="nav navbar navbar-right">
				<li><a href="/contact" class="head-li">Home</a></li>
				<li><a href="#about" class="head-li">About</a></li>
				<li><a href="/locations" class="head-li">Locations</a></li>
				<li><a href="/contact" class="head-li">Contact</a></li>
			</ul>
		</div>
	</nav> -->
	<nav class="navbar nav navbar-expand-md navbar-light">
		<div class="container">
			<h6 id="logo"><p class="icon icon-scissors">Gentlemen's Barber</h6>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
				  	<li><a href="/" class="head-li">Home</a></li>
					<li><a href="/#about" class="head-li">About</a></li>
					<li><a href="/locations" class="head-li">Locations</a></li>
					<li><a href="/contact" class="head-li">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<body>