<%- include('partials/header') %>

<!-- AIzaSyAfhoQmxE5KmU0LBQkI3dI-ROqcO2Wvp6g -->

<div class="container-fluid" id="mapholder">
	<div id="map"></div>
</div>

<%- include('partials/footer') %>

<script>
function initMap() {
	let london = {lat: 42.999722, lng: -81.264531};
	let map = new google.maps.Map(
	document.getElementById('map'), {zoom: 12, center: london})

	let markers = [
		{
		 coords:{lat: 42.984337, lng: -81.292474},
		 content:'<h3>Oxford Location</h3><hr><p>Sunday: 11am-5pm</p><br><p>Mon-Sat: 10am-9pm</p>'
		},
		{
		 coords:{lat: 43.026417, lng: -81.277562},
		 content:'<h3>Masonville Location</h3><hr><p>Sunday: 12pm-5pm</p><br><p>Mon-Sat: 9am-9pm</p>'
		}
	];

	for (let i=0;i<markers.length;i++) {
		addMarker(markers[i]);
	}
	
	function addMarker(props) {
		let marker = new google.maps.Marker({
			position: props.coords,
			map: map,})

		if (props.content) {
			var infoWindow = new google.maps.InfoWindow({
				content: props.content
			});
		}
		marker.addListener('click', ()=> {
			infoWindow.open(map, marker);
		});
	}
}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfhoQmxE5KmU0LBQkI3dI-ROqcO2Wvp6g&callback=initMap"
type="text/javascript"></script>

<!-- 	let oxford = {lat: 42.984337, lng: -81.292474};
	let masonville = {lat: 43.026417, lng: -81.277562}; -->